<div>    
    <div class="row">    
      <div class="col-sm-12 btn btn-primary">    
        Pet Book Prueba Devops
      </div>    
    </div>    
    <div class="row" style="margin-top:10px;margin-bottom: 10px;">    
      <div class="col-sm-1">    
      </div>    
      <div class="col-sm-2">    
        <button class="btn btn-success" (click)="filterBy='all'">All</button>    
      </div>    
      <div class="col-sm-2">    
        <button class="btn btn-success" (click)="filterBy='perro'">Perro</button>    
      </div>    
      <div class="col-sm-2">    
        <button class="btn btn-success" (click)="filterBy='gato'">Gato</button>    
      </div>    
      <div class="col-sm-1">    
      </div>    
    </div>    
    <div class="row">    
      <ul>    
        <li *ngFor="let img of (allImages | filterimages:filterBy)">    
          <a [routerLink]="['/image', img.id]">    
            <img src="{{img.url}}" class="img" width="240" height="170">    
          </a>    
        </li>    
      </ul>    
    </div>    
  </div>